body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.custom-h1 {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.custom-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
}

.custom-label {
    display: block;
    margin-bottom: 5px;
}

.custom-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.submit-button {
    text-align: center;
    clear: both;
}

.custom-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Для мобильных устройств (узких экранов) */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
    }
}

/* Для планшетов и небольших ноутбуков */
@media (min-width: 769px) and (max-width: 1024px) {
    .container {
        max-width: 80%;
    }
}

/* Для широких экранов и настольных компьютеров */
@media (min-width: 1025px) {
    .container {
        max-width: 70%;
    }
}
